:root {
  --color-neutral:  #143b6e;
  --color-dark:     #062e63;
  --color-darker:   #05254f;
  --text-visible-1: #5d8ecd;
  --text-visible-2: #ffffff;
  --button-hover:   #28548e;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(fonts/Roboto-Black.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--color-neutral);
  font-family: "Roboto-Medium";
  color: var(--text-visible-1);
  text-align: center;
}

.container_master {
  margin: 50px;
}

.container_current_number {
  color: var(--text-visible-2);
  font-family: "Roboto-Black";
  font-size: 50px;
  margin: 10px;
}

.container_config {
  margin-top: 20px;
}

.container_config_counter {
  color: var(--text-visible-2);
}

#next {
  background-color: var(--color-dark);
  color: var(--text-visible-2);
  padding: 20px;
  border: transparent 0px;
}

#next:hover {
  background-color: var(--button-hover);
}

#title-bar {
  -webkit-app-region: drag;
  height: 32px;
  padding: 0px;
  margin: 0px;
  color: var(--text-visible-1);
  font-family: sans-serif;
  background-color: var(--color-dark);
}

#title {
  position: fixed;
  top: 0px;
  left: 12px;
  line-height: 32px;
  font-size: 14px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 0px;
}

#title-bar-btns button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  color: var(--text-visible-2);
  font-size: 16px;
}

#title-bar-btns img {
  height: 10px;
  width: 10px;
  border: none;
}

#title-bar-btns button:hover {
  background-color: var(--button-hover);
}

#content {
  padding: 12px;
  color: #CCCCCC;
}

.container_status {
  font-family: Roboto-Regular;
  color: #db1f1f;
  margin: 10px;
}
