@font-face {
  font-family: "Roboto-Regular";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(fonts/Roboto-Black.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #282828;
  font-family: "Roboto-Medium";
  color: rgb(106, 106, 106);
  text-align: center;
}

.container_master {
  margin: 50px;
}

.container_current_number {
  color: white;
  font-family: "Roboto-Black";
  font-size: 50px;
  margin: 10px;
}

.container_config {
  margin-top: 20px;
}

.container_config_dropdown select {
  margin-top: 7px;
  background-color: rgb(32, 32, 32);
  color: white;
  font-family: Roboto-Medium;
  padding: 3px;
  border: 0px;
}

#next {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 20px;
  border: transparent 0px;
}

#next:hover {
  background-color: #3F3F41;
}

#title-bar {
  -webkit-app-region: drag;
  height: 32px;
  padding: 0px;
  margin: 0px;
  color: #ADADAD;
  font-family: sans-serif;
  background-color: rgb(32, 32, 32);
}

#title {
  position: fixed;
  top: 0px;
  left: 12px;
  line-height: 32px;
  font-size: 14px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px;
}

#title-bar-btns button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  color: #F1F1F1;
  font-size: 16px;
}

#title-bar-btns button:hover {
  background-color: #3F3F41;
}

#content {
  padding: 12px;
  color: #CCCCCC;
}
